#box-login{
    width: 30%;
    background-color:rgba(0, 0, 0, 0.7);
    border: 3px solid #7c7b7b;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-left: 350px;
    margin-top: 50px;
    justify-content: center;
}
#logo{
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo img{
    margin-top: 20px;
    border-radius: 10px;
}

#field-login{
    display: flex;
    width: 100%;  
    justify-content: center; 
    margin-top: 20px;
}

#field-email{
    margin-bottom: 20px;
    background-color: white;
}

#field-password{
    margin-bottom: 10px;
    background-color: white;
}

#btn-login{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}



@media(max-width: 690px){
    #box-login{
        width: 80%;
        padding: 20px;
        margin: 0 auto;
        margin-top: 15vh;
    }
}