body{
  background-image: url("https://www.ajinomotofoodservice.com.br/uploads/produtos/categorias/img-banner-produtos-temperos-po-06-03-2020-vaznw.jpg");
  background-repeat: no-repeat;
  margin: 0;
  height: 0;
}
